.navbar {
  background: linear-gradient(135deg, #6a11cb, #2575fc);
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid #f39c12;
}
.navbar ul li a:hover {
  color: #ffeb3b;
}

.navbar ul {
  list-style: none;
  display: flex;
  padding: 0;
}
.navbar ul li {
  margin: 0 15px;
}
.navbar ul li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}
.navbar ul li a:hover {
  color: #f39c12;
}
.toggle-theme {
  background: none;
  border: none;
  cursor: pointer;
  color: white;
}
